@model VST_sprava_servisu.Revize

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_FullW.cshtml";
}
@Html.Action("Header", "Revize", new { Id = Model.Id, Revize = ViewBag.Revize })
<div style="background-color:rgba(0, 0, 0, 0.5)">
    


    <div class="col-lg-12 " style="border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
        <p>
            @Html.Action("Index", "RevizeSC", new { id = Model.Id })
        </p>
    </div>
</div>