@model VST_sprava_servisu.Umisteni

@{
    Layout = null;
}

  
            <div class="col-lg-12 vstcolor"  >
               <h4> @Html.DisplayFor(model => model.NazevUmisteni)</h4>
                <hr>
            </div>
    
         