body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.2)
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.btn-vstprimary,
.btn-vstprimary:visited,
.btn-vstprimary:focus {
    color: #fdc800 !important;
    border-color: #fdc800 !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
    .btn-vstprimary:hover {
        color: black !important;
        background-color: #fdc800 !important;
    }

.vstdark7div {
    background-color: rgba(0, 0, 0, 0.7);
    border: 2px !important;
    border-style: solid !important;
    border-color: #fdc800 !important;
    margin: 0px;
    padding: 10px
}

.vstdark5div {
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px !important;
    border-style: solid !important;
    border-color: #fdc800 !important;
    margin: 0px !important;
    padding: 0px !important
}

.vstcal {
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px !important;
    border-style: solid !important;
    border-color: #ffffff !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
}
.vstcalr {
    /*background-color: rgba(0, 0, 0, 0.4);*/
    border: 0px !important;
    border-style: solid !important;
    border-color: #ffffff !important;
    margin: 0px !important;
    padding: 0px !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
    margin-left: 0px !important;
}

.vstdark3div {
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px !important;
    border-style: solid !important;
    border-color: #fdc800 !important;
    margin: 0px !important;
    padding: 10px !important
}
    
.vstcolor {
    color: #fdc800;
}
.vstcolorwhite {
    color: #ffffff;
}
.full-width {
    padding-left: 0;
    padding-right: 0;
}

    .full-width .row {
        margin-right: 0;
        margin-left: 0;
    }

    .full-width .col-md-12 {
        padding-left: 0;
        padding-right: 0;
    }

.dataTables_wrapper {
    font-size: 11px
}