@model SAPOPImportParametr

@{
    ViewBag.Title = "List";
}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
    <center><h4>Seznam obchodních partnerů v SAP</h4></center>
    <p class="vstcolorwhite">kteří ještě nebyly naimportovány do servisu, Hledání probíhá dle polí Kód OP, Název OP a fakturační adresy OP</p>
</div>
<div class="form-horizontal" style="background-color:rgba(0, 0, 0, 0.5);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">






    
    @using (Ajax.BeginForm("SAPOPList", "SAPImport", new AjaxOptions
    {

        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "List",

    }, new { htmlAttributes = new { @class = "form-inline" } }))
    {
        string Search = "";
        <div>
            <div class="col-lg-3">@Html.EditorFor(x => Search, new { htmlAttributes = new { @class = "form-control " } }) </div>
            <div class="col-lg-1"><input type="submit" value="Search" class="form-control " /></div>
        </div>

    }

    @ViewBag.Result


    <div id="List">
        @Html.Partial("SAPOPList", Model.ListSAPOP)
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
