<div class="col-md-12 ">

    <p>@Html.ActionLink("Statistika projektů", "Index", "Projekty", null, new { @class = "btn btn-lg btn-default btn-block" })</p>
    <p>@Html.ActionLink("Celkový manažerský přehled", "CelkovyManazerskyPrehled", "Statistiky", null, new { @class = "btn btn-lg btn-default btn-block" })</p>
</div>
