@model VST_sprava_servisu.ServisniZasah

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout_FullW.cshtml";
}

@Html.Partial("Header", Model)

<div>
    @Html.Action("Add", "ServisniZasahPrvek", new { Id = Model.Id })
    @Html.Action("Index", "ServisniZasahPrvek", new { Id = Model.Id })


</div>


