@model VST_sprava_servisu.Jazyk

@{
    ViewBag.Title = "Delete";
}

<div class="form-horizontal vstcolor" style="background-color:rgba(0, 0, 0, 0.7);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">
<center><h4>Administrace regionů</h4></center>
</div>
<div class="form-horizontal" style="background-color:rgba(0, 0, 0, 0.5);border:2px !important;border-style:solid !important; border-color:#fdc800 !important;margin:0px;padding:10px">


    
    <div>
        <h4 class="vstcolor">Opravdu chcete smazat tento jazyk?</h4>
        <hr />
        <dl class="dl-horizontal vstcolorwhite">
            <dt>
                @Html.DisplayNameFor(model => model.NazevJazyku)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NazevJazyku)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color col-lg-offset-2">
                <input type="submit" value="Ano smaž" class="btn btn-danger" /> 
                @Html.ActionLink(" ", "Index", null, new { @class = "btn btn-success glyphicon glyphicon-th-list" })
            </div>
        }
    </div>
</div>