@model VST_sprava_servisu.Zakaznik

@{
    ViewBag.Title = "Details";
}


@Html.Action("Header","Zakaznici",new { Zakaznik = Model.Id })




<div class="row">
    <div id="provozy-list" class="col-lg-12">@Html.Action("Index","Provozy",new { Zakaznik = Model.Id})</div>
    
   

</div>


   


